In [17]:
 # Answer 1
    
i = "Hello"
ii = [1,2,'asd']
iii = "34.654"
iv = ([1,3.12],23.56,"asdf")

In [ ]:
 # Answer 2
i= String
ii = String
iii = List
iv = Float

In [ ]:
# Answer 3
i. It will return the Quotient, Example 4/2 will return 2
ii. it will return the remainder, Example 4%2 will return 0
iii. it Returns the number of time the division happens, Example,4/2 will return 2, 4/4 will return 1
iv. it gives the power, Example 10**3 is 10 to the power 3

In [50]:
# Answer 4
a= (2,4,"asd",3.45,"zxc",23,4+2j,"asdfghj",67,"tyu")
for i in a :
    print(i,"       Type ",type(i))

2        Type  <class 'int'>
4        Type  <class 'int'>
asd        Type  <class 'str'>
3.45        Type  <class 'float'>
zxc        Type  <class 'str'>
23        Type  <class 'int'>
(4+2j)        Type  <class 'complex'>
asdfghj        Type  <class 'str'>
67        Type  <class 'int'>
tyu        Type  <class 'str'>

In [72]:
# Answer 5
a=10
b=2

while (a%b)==0 :
    print (a," is divisible with",b," by",a/b, "times")
    break

10  is divisible with 2  by 5.0 times

In [75]:
# Answer 6
a = (10,12,34,25,34,65,26,56,87,55,16,53,75,87,24,57,90,87,34,678,865,234,654,267,444)

for i in a :
    if (i%3)==0 :
        print(i,"is divisible by 3")
    else :
        print(i,"is Not divisible by 3")

10 is Not divisible by 3
12 is divisible by 3
34 is Not divisible by 3
25 is Not divisible by 3
34 is Not divisible by 3
65 is Not divisible by 3
26 is Not divisible by 3
56 is Not divisible by 3
87 is divisible by 3
55 is Not divisible by 3
16 is Not divisible by 3
53 is Not divisible by 3
75 is divisible by 3
87 is divisible by 3
24 is divisible by 3
57 is divisible by 3
90 is divisible by 3
87 is divisible by 3
34 is Not divisible by 3
678 is divisible by 3
865 is Not divisible by 3
234 is divisible by 3
654 is divisible by 3
267 is divisible by 3
444 is divisible by 3

In [85]:
# Answer 7

'''Mutable data types can modified at any time,

Example'''
a=["suyash",234,"asd",56.87]

print(a)

a.append("fgh")

print(a)

a.remove(234)
print(a)

['suyash', 234, 'asd', 56.87]
['suyash', 234, 'asd', 56.87, 'fgh']
['suyash', 'asd', 56.87, 'fgh']

In [87]:
'''Unmutable data types cannot be modifed

Example'''
a="Suyash"